<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>NASA Challenge:  Can AI Preserve Our Science Legacy?</title>
</head>
<body>
    <div>
        {{>header}}
        {{>footer}}
    </div>
    <script>
  window.watsonAssistantChatOptions = {
    integrationID: "698d1bf0-32f5-45e7-8929-ece7605c636e", // The ID of this integration.
    region: "us-south", // The region your integration is hosted in.
    serviceInstanceID: "3dae2edb-ded7-44c6-a5b9-3df820fadeff", // The ID of your service instance.
    onLoad: function(instance) { instance.render(); }
  };
  setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
    document.head.appendChild(t);
  });
</script>
</body>
</html>