
/* -- NavBar -- */

/* Logo */
.nav-logo {
    width:50%;
    margin-left: 10%;
}

/*Search */
.contenedor {
    position: relative;
}
.prueba {
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
